@model Cadastro
@{
     ViewData["Title"] = "Cadastro";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        body{
            background-image:url(../imagem/formulario.jpg); 
            background-size: contain; 
            background-position: right center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100vw;
            background-color: black;
            color: white;
        }
        
        .informações { 
            color: rgb(234, 233, 238);  
            font-style: normal;   
            text-align:left;
            padding: 25px 7% 0px; 
            border: 1px solid white;
            width: 35%;
            padding-bottom: 10px;
            border-radius: 10px;
            margin-bottom: 30vh;
        }

        .informações h1{
            color: rgb(40, 95, 173);
        }

         .inicio{
            padding: 5px 0px 75px 80%;
        }

        .inicio{
           padding-top: 5%;  
           text-transform: capitalize;  
           border-radius: 10px;
           padding-left: 10px;
           

        }

         .butao{
            color: rgb(206, 55, 55);  
            text-align: left;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 15px;
            
            
            
        }

       
        button{
            background-color: rgb(206, 55, 55);
            color: aliceblue;
            text-decoration: none;
            border: 1px solid transparent;
            border-radius: 10px;
            transition: .2s;
            padding: 5px 3px;
            font-weight: 500;
        }

        button:hover{
            transform: scale(1.1);
        }

        .butao input{ 
            border: 1px solid transparent;
            border-radius: 10px;
            color: blue;
            padding-left: 15px;

            
            
        }

        .butao button{
            border: 1px solid transparent;
            border-radius: 15px;
            padding: 5px 20px 5px 20px;
        }

        .butao label{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
       }

       /* ------------------------------ VALIDAÇÃO DO FORMULARIO------------------------------------------*/

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #d51a1a;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #decdcd;
    visibility: visible;
    margin-left: 68%;

}

.form-control i {
    position: absolute;
    visibility: hidden;
    

}

.form-control small {
    visibility: hidden;
    font-size: 14px;
    font-weight: 500;


}
       
        

       
    </style>

</head>
<body>

    <div class="inicio">
            
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" class="btn">
                        <button type="submit">Voltar ao início</button> 
                    </a>    
           
        </div>

    <div class="informações" >  
        <h1><b>CADASTRE-SE </b> </h1>
        <br>
    
      <div class="butao">
         <form method="post" asp-action="Cadastro" id="form">
            
           <div class="form-control">
                <label >Nome:</label>
                <input id="nome" asp-for="Nome">
                <small> Error message</small>
           </div>  
            <br> 
            <br>
           <div class="form-control">
                <label>Email:</label>
                <input id="email" asp-for="Email">
                <small> Error message</small>
           </div>
           
            <br>
            <br>

           <div class="form-control">
                <label>Login:</label>
                <input id="login" asp-for="LoginAcesso">
                <small> Error message</small>
           </div> 
            
            <br>
            <br>
           <div class="form-control"> 
                <label id="senha">Senha:</label>
                <input type="password" asp-for="Senha">
                <small> Error message</small>
           </div> 
            
            <br>
            <br>
        
            
            <button type="submit" asp-area="" asp-controller="Home" asp-action="Index" value="Cadastrar">Cadastrar</button>
            <button type="reset">Limpar</button>
            
       
         </form> 

      </div>
        </div>
      @ViewBag.Mensagem
    </div>
</body>
</html>
      