<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Nossa Historia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
    body {
            background-image: url(../imagem/historia.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position:right center;
            height: 100vh;
            width: 100vw;
            background-color: black;
            color: white;
            font-size: 10px;
            
    }

    .cabeçalho{
     margin-bottom: 10%;   
    }

    button{
        background-color: rgb(206, 55, 55);
        color: aliceblue;
        text-decoration: none;
        border: 1px solid transparent;
        font-weight: bold;
        border-radius: 10px;
        transition: .4s;
        padding: 5px 3px;
        margin-top: 5%;
    }

     h1{ 
        color: rgb(206, 55, 55);  
        padding: 50px 80px 5px 0px; 
        font-size: 25px; 
        font:normal;
    }
     .corpo1{
        text-align:left; 
        color: rgb(40, 95, 173); 
        font-size: 60px ; 
        font-style: normal; 
     }

    .corpo a{
        text-decoration: none;
        cursor: pointer;
        color: antiquewhite;
    }

    .corpo2{
        margin-bottom: 8%;
    }

    

 </style>
</head>
<body>

    <div class="cabeçalho">

           
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><button type="submit">Voltar ao início</button></a>
            
            
        <h1>
            Um Pouco sobre nós
        </h1>
        <h3><p>Olá tudo bem ?</h3></p>
        <br>
       <h6> <div class="corpo">
        Me chamo <b><a href="https://www.instagram.com/alineferreiradsantos/?igshid=NmNmNjAwNzg%3D"> Aline Ferreira</a></b> sou bailarina professora e coreógrafa. <br>
        Bom, antes de tudo sou cristã e tenho Deus em primeiro plano em minha vida, acredito que ele mostrou<br> 
        a dança para tocar, encantar, ajudar e emocionar pessoas. Comecei meus estudos em dança em 2006. <br>
        Iniciei no Curso de ballet da UEPB, tive formação em ballet clássico e dança contemporânea. <br>
        Fiz parte da Cia de Dança do Teatro Municipal de Campina Grande, em seguida fiz intercâmbio por 3 anos <br>
        na Marcelos Move Dance School na Suíça, sob Direção do grande mestre da dança Marcelo Pereira.<br>
        Atualmente sou bailarina e assistente da Cia Municipal de Dança de João Pessoa, em paralelo a isso sou<br>
        Professora de Ballet Clássico e coreógrafa no Espaço de Artes Jazz&Cia na cidade de João Pessoa-Paraíba.</h6>
        </div>

    
        <h3>
            <div class="corpo1"> <font color="white"> M.</font> Danz <font color="white"> Project</font></div>
        </h3>
        
        <br>
        <div class="corpo2"><h6>
        Com a necessidade da criação de um estilo próprio de dança contemporanea e com a parceiria do meu fiel<br>
        escudeiro e marido Maxwell Araujo criamos a M.Danz Project. Que tem a ideia de conectar divulgar,<br>
        incentivar e apaixonar as pessoas a dança. Hoje temos uma  escola de dança que funciona no formato <br> 
        hibrido, fazendo a ligação do publico de varios estados  do Brasil e do exterior. Venha conhecer um<br>
        Pouquinho mais da nossa escola através do nosso site ou mesmo fazendo um visita no nosso espaço fisíco. </h6> 
        </div>
        
    </div>
   
</div>

   




</body>
</html>